$theme-dark-color: #7d4627;
$theme-medium-dark-color: #a8b6bf;
$theme-medium-color: darken($theme-medium-dark-color, 10);
$theme-medium-light-color: #c9d8c5;
$theme-light-color: #edd9c0;

$theme-background: $theme-medium-dark-color;
$theme-text-color: $theme-light-color;
$theme-link-color: $theme-medium-light-color;
