@import 'app/scss/settings';

.StoryEditor-pieceWrapper {
  min-height: 100px;
  padding-top: 5px;
  position: relative;
}

.StoryEditor-lastPieces {
  display: inline;
}

.StoryEditor-lastPiece {
  display: inline;
}

.StoryEditor-lastPieceMask {
  background: linear-gradient(to bottom, rgba(168, 182, 191, 1) 0%, rgba(168, 182, 191, .23) 39%, rgba(168, 182, 191, .2) 47%, rgba(168, 182, 191, .11) 70%, rgba(168, 182, 191, 0) 100%);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.StoryEditor-newPiece {
  display: inline;

  p {
    &:first-child {
      display: inline;
    }
  }
}

.StoryEditor-newPieceInput {
  min-height: 100px;
  width: 100%;
}

.StoryEditor-pieceComposerWrapper {
  border-top: 1px solid darken($theme-background, 10);
  padding-top: 8px;
}
