.StoryContainer {
  display: flex;
  justify-content: center;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.StoryContainer-StoryWrapper {
  box-sizing: border-box;
  width: 70%;

  @media (max-width: 600px) {
    width: 100%;
  }
}
