<!DOCTYPE html>
<html>
  <head>
    <title>React App</title>
    <link type="text/css" rel="stylesheet" href="{{{styleSource}}}">
  </head>
  <body>
    <div id="app">{{{markup}}}</div>
    <input type="hidden" value='{{{initialState}}}' id="init-data">

    <script src="{{{scriptSource}}}" defer></script>
  </body>
</html>
